img {
width: 150px
}
nav
{
	position: fixed;
	top: 40vh;
	width: 100vw;
	display: flex;
	justify-content: space-evenly;

}
body
{
	background: radial-gradient(orange, green);
	display: flex;
	justify-content: center;

}
#key
{
	position: fixed;
	width: 50px;
	transform: rotate(180deg);
	top: 70vh
}

